<div class="container">
          <h1> Log in</h1>
      <form method="post" action="/users/login" class="style1">
         <label name = 'Username'>
            <h5>Username </h5>
             <input  name = 'username'  type="text"placeholder="Enter username " class="form-control">
          </label> 
          <label name = 'password'>
            <h5>Password</h5>
             <input name = 'password' type="text"  placeholder="Enter password" class="form-control">
          </label> 
          
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
           </form>
</div>
           